body {
  padding: 100px;
  margin: 0;
  background-color: rgb(58, 80, 80);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.goto-button {
  padding: 10px 20px;
  background-color: rgb(238, 240, 214);
  cursor: pointer;
  margin: 10px 20px;
  color: rgb(116, 35, 35);
  text-decoration: none;
  font-size: larger;
  border: 1px rgba(255, 255, 255, 0.493) solid;
  perspective: 800px;
}

h3 {
  margin-top: 80px;
  color: aliceblue;
}

p {
  font-family: "Courier New", Courier, monospace;
  font-size: larger;
  color: antiquewhite;
}
